# Created by .ignore support plugin (hsz.mobi)

# myconfig
myconfig.conf
logs/*.*
.idea
apps/fastrunner/migrations/*initial.py
apps/fastrunner/migrations/*_auto_*.py
apps/fastrunner/migrations/*_remove_*.py
apps/users/migrations/*initial.py
apps/users/migrations/*_auto_*.py
apps/users/migrations/*_remove_*.py
media/*
tempWorkDir/*.*

#python
*.py[cod]
*.so
*.egg
*.egg-info